{% extends "@EndToEnd/Inheritance/_layout.twig" %}
{% import "@EndToEnd/Inheritance/_layout.twig" as layout %}

{% block main %}
    <h1>{{ subtitle }}</h1>
    {% set name = 'Ruud' %}

    {% assert_type variableSetAfterHeaderBlockBeforeMainBlock 'true' %}
    {% assert_type variableSetAfterMainBlockBeforeFooterBlock '*ERROR*' %}
{% endblock %}

{% block footer %}
    <footer>Copyright</footer>
    {% assert_type variableSetAfterHeaderBlockBeforeMainBlock 'true' %}
    {% assert_type variableSetAfterMainBlockBeforeFooterBlock 'true' %}
{% endblock %}
