{# @twigstan-abstract #}
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
{% block header %}
    <header>Header</header>
{% endblock %}

{% set variable_set_after_header_block_before_main_block = true %}
{% block main %}
    <h1>{{ subtitle }}</h1>
{% endblock %}

{% set variable_set_after_main_block_before_footer_block = true %}
{% block footer %}
    <footer>Copyright</footer>
{% endblock %}
</body>
</html>

{# {% macro hello(name) %} #}
{# HELLO {{ name }} #}
{# {% endmacro %} #}
