{% types {
    dates: 'array<int, list<DateTime>>',
} %}

{% assert_type dates 'array<int, list<DateTime>>' %}

{% for id, date_list in dates %}
    {% assert_type id 'int' %}
    {% assert_type date_list 'list<DateTime>' %}

    {% for date in date_list %}
        {% assert_type date 'DateTime' %}

        {% set result = date.getOffset() %}
        {% assert_type result 'int' %}

        <p>{{ date.getOffset() }}</p>
    {% endfor %}
{% endfor %}
