includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon
parameters:
	level: '8'
	paths:
		- bin
		- src
		- tests
	tmpDir: .phpstan
	reportUnmatchedIgnoredErrors: false
	errorFormat: ticketswap
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	bootstrapFiles:
		- stubs/functions.php
	dynamicConstantNames:
		- Twig\Environment::MAJOR_VERSION
		- Twig\Environment::VERSION_ID
