includes:
	- phpstan.neon
	- config/phpstan.extensions.neon
parameters:
	todo_by:
		ticket:
			enabled: true
			tracker: github
services:
	-
		class: Twig\Environment
		factory: @TwigStan\Twig\TwigFactory::create
	- TwigStan\Twig\TwigFactory(environmentLoader: 'tests/twig-loader.php')
