parameters:
	level: '8'
	paths:
		- src
		- tests
	errorFormat: ticketswap
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
services:
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetDefinedVarsReturnType
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
