includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon
parameters:
	level: '8'
	paths:
		- src
		- tests
	reportUnmatchedIgnoredErrors: false
	errorFormat: ticketswap
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	bootstrapFiles:
		- stubs/functions.php
	dynamicConstantNames:
		- Twig\Environment::MAJOR_VERSION
services:
	-
		class: TwigStan\PHPStan\DynamicReturnType\TypeHintReturnType
		tags:
			- phpstan.functionParameterOutTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetAttributeReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
