parameters:
	ignoreErrors:
		-
			message: "#^Creating new PHPStan\\\\Type\\\\Accessory\\\\AccessoryArrayListType is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/PHPStan/DynamicReturnType/Filter/SplitReturnType.php

		-
			message: "#^Method TwigStan\\\\Twig\\\\TwigFileCanonicalizer\\:\\:findNamespacesWithinMainNamespace\\(\\) should return array\\<string, list\\<string\\>\\> but returns array\\<int\\|string, non\\-empty\\-list\\<string\\>\\>\\.$#"
			count: 1
			path: src/Twig/TwigFileCanonicalizer.php
