includes:
	- test-baseline.neon
parameters:
	twigstan:
		twig:
			paths: []
			excludes: []
		php:
			paths: []
			excludes: []
		environmentLoader: twig-loader.php
	ignoreErrors:
		-
			message: "#Undefined variable: context#"
