parameters:
	twigstan:
		twig:
			paths:
				- templates
				- src/Resources/views
			excludes: []
		php:
			paths:
				- src/Controller
				- src/Customer/Controller
			excludes: []
		environmentLoader: twig-loader.php
