{% requirements {
    year: 'int',
    title: 'string',
} %}

<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
{% endblock %}
<footer>
    Copyright &copy; {{ year }}
</footer>
</body>
</html>
