parameters:
	twigstan:
		php:
			paths: []
			excludes: []
		twig:
			paths: []
			excludes: []
		environmentLoader: null
services:
	-
		class: Twig\Environment
		factory: @TwigStan\Twig\TwigFactory::create
	- Symfony\Component\Filesystem\Filesystem
	- TwigStan\Application\AnalyzeCommand(
		phpFilesFinder: @twigstan.files_finder.php
		twigFilesFinder: @twigstan.files_finder.twig
		environmentLoader: %twigstan.environmentLoader%
		tempDirectory: %tmpDir%
		currentWorkingDirectory: %currentWorkingDirectory%
	)
	- TwigStan\Application\PHPStanRunner(currentWorkingDirectory: %currentWorkingDirectory%)
	- TwigStan\PHP\PrettyPrinter
	- TwigStan\PHP\StrictPhpParser
	- TwigStan\PHPStan\Analysis\AnalysisResultFromJsonReader
	- TwigStan\PHPStan\Analysis\ErrorCollapser
	- TwigStan\PHPStan\Analysis\ErrorFilter
	- TwigStan\PHPStan\Analysis\ErrorToSourceFileMapper
	- TwigStan\PHPStan\Analysis\ErrorTransformer
	- TwigStan\Processing\Compilation\ModifiedCompiler
	- TwigStan\Processing\Compilation\Parser\TwigNodeParser
	- TwigStan\Processing\Compilation\TwigCompiler
	- TwigStan\Processing\Compilation\TwigGlobalsToPhpDoc
	- TwigStan\Processing\Compilation\TwigVisitor\DisableGetAttributeOptimizationVisitor
	- TwigStan\Processing\Compilation\TwigVisitor\RemoveProfilingNodeVisitor
	- TwigStan\Processing\Compilation\TwigVisitor\ReplaceNameExpressionNodeVisitor
	- TwigStan\Processing\Compilation\TwigVisitor\ReplaceTypesNodeVisitor
	- TwigStan\Processing\Flattening\TwigFlattener
	- TwigStan\Processing\ScopeInjection\TwigScopeInjector
	- TwigStan\Processing\ScopeInjection\ArrayShapeMerger
	- TwigStan\Twig\DependencyFinder
	- TwigStan\Twig\DependencySorter
	- TwigStan\Twig\Metadata\MetadataAnalyzer
	- TwigStan\Twig\Metadata\MetadataRegistry
	- TwigStan\Twig\Node\NodeFinder
	- TwigStan\Twig\Node\NodeMapper
	- TwigStan\Twig\TokenParser\AssertTypeTokenParser
	- TwigStan\Twig\TokenParser\AssertVariableExistsTokenParser
	- TwigStan\Twig\TokenParser\DumpTypeTokenParser
	- TwigStan\Twig\TwigFactory(environmentLoader: %twigstan.environmentLoader%)
	- TwigStan\Twig\TwigFileCanonicalizer
	- TwigStan\Finder\GivenFilesFinder(
		exclusions: [
			php: %twigstan.php.excludes%
			twig:  %twigstan.twig.excludes%
		],
		currentWorkingDirectory: %currentWorkingDirectory%
	)
	twigstan.files_finder.php:
		class: TwigStan\Finder\FilesFinder
		arguments:
			namePattern: *.php
			paths: %twigstan.php.paths%
			exclusions: %twigstan.php.excludes%
	twigstan.files_finder.twig:
		class: TwigStan\Finder\FilesFinder
		arguments:
			namePattern: *.twig
			paths: %twigstan.twig.paths%
			exclusions: %twigstan.twig.excludes%
	twigstan.files_finder.generic:
			class: TwigStan\Finder\FilesFinder
			arguments:
				namePattern: *.twig
				paths: []
				exclusions: %twigstan.twig.excludes%
