includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- ../stubs/functions.php
parametersSchema:
	twigstan: structure([
		environmentLoader: schema(string(), nullable())
		analysisResultJsonFile: schema(string(), nullable())
	])
services:
	errorFormatter.analysisResultToJson:
		class: TwigStan\PHPStan\AnalysisResultToJson
		arguments:
			jsonErrorFormatter: @errorFormatter.prettyJson
			jsonFile: %twigstan.analysisResultJsonFile%
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetDefinedVarsReturnType
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
	-
		class: TwigStan\PHPStan\TypeSpecifying\VarTypeSpecifyingExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetAttributeReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\Collector\BlockContextCollector
		tags:
			- phpstan.collector
	-
		class: TwigStan\PHPStan\Collector\ContextFromRenderMethodCallCollector
		tags:
			- phpstan.collector
	-
		class: TwigStan\PHPStan\Collector\ContextFromReturnedArrayWithTemplateAttributeCollector
		tags:
			- phpstan.collector
	-
		class: Twig\Environment
		factory: @TwigStan\Twig\TwigFactory::create
	- TwigStan\PHP\PhpDocToPhpStanTypeResolver
	- TwigStan\Processing\Compilation\Parser\TwigNodeParser
	- TwigStan\Twig\TwigFactory(environmentLoader: %twigstan.environmentLoader%)
	- TwigStan\Twig\TokenParser\AssertTypeTokenParser
	- TwigStan\Twig\TokenParser\AssertVariableExistsTokenParser
	- TwigStan\Twig\TokenParser\DumpTypeTokenParser
