services:
	-
		class: TwigStan\PHPStan\DynamicReturnType\TypeHintReturnType
		tags:
			- phpstan.functionParameterOutTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetAttributeReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\CallMacroReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\LoadTemplateReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetTemplateForMacroReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetParentReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetGlobalsReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\GetCharsetReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension


	# Filter
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\FindReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\ReduceReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\FirstReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\LastReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\MapReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\FilterReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\ColumnReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\ShuffleReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\SliceReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\KeysReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\DefaultReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\ReverseReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\SplitReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\SortReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\NumberFormatReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\DateModifyReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\RoundReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\BatchReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\MergeReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Filter\SprintfReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	# Function
	-
		class: TwigStan\PHPStan\DynamicReturnType\Function\ConstantReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Function\RandomReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Function\CycleReturnType
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: TwigStan\PHPStan\DynamicReturnType\Function\ConvertDateReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
