name: CI

on:
    pull_request:
    push:
        branches: [ main ]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}

jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.3' ]
                twig: [ 3, 4 ]
                dependency-versions: [ lowest, highest ]
                include:
                    -   php: '8.4'
                        twig: 3
                        dependency-versions: highest
                        composer-options: "--ignore-platform-req=php"
        name: Tests on PHP ${{ matrix.php }}, Twig ${{ matrix.twig }} & ${{ matrix.dependency-versions }} dependencies
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php }}'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3
                with:
                    dependency-versions: '${{ matrix.dependency-versions }}'
                    composer-options: '${{ matrix.composer-options }}'

            -   name: Setup Twig 4
                if: ${{ matrix.twig == '4' }}
                run: composer require "twig/twig:4.x-dev as 3.9999"

            -   name: Run tests
                run: vendor/bin/phpunit

    code-style:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Set up PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.3'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Run PHP CS Fixer
                run: castor php-cs-fixer --no-fix

            -   name: Check editorconfig
                run: castor editorconfig

            -   name: Check commits
                run: castor verify-commits

    phpstan:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.3' ]
                dependency-versions: [ lowest, highest ]
        name: PHPStan on PHP ${{ matrix.php }} & ${{ matrix.dependency-versions }} dependencies
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php }}'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3
                with:
                    dependency-versions: '${{ matrix.dependency-versions }}'
                    composer-options: '${{ matrix.composer-options }}'

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Run PHPStan
                run: castor phpstan --no-local

    composer:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.3'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Normalize Composer file
                run: castor composer-normalize

            -   name: Analyze Composer dependencies
                run: castor dependency-analyzer
